{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ account_statics.account_name }}</h1>
        </div>
    </div>
</div>
{% block table %}
    <div id="id_account_list">
        <table class="table">
        </table>
    </div>
{% endblock %}
<div class="panel-footer">
    <table>
        <tr>
    <a id="list_back" href={% url "account_list" %}>
        <span class="glyphicon glyphicon-chevron-left"/></a>
    <a id="delete_account" href=
        {% url 'account_delete_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-trash"/></a>
    <a id="add_transaction" href=
        {% url 'transaction_add_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-plus"/></a>
        </tr>
    </table>
</div>
{% endblock %}
