{% extends 'base.html' %}
{% block title %}{{ account_statics.account_name }}{% endblock %}
{% block content %}
<div class="panel-footer">
    <table>
        <tr>
    <a id="list_back" href={% url "account_list" %}>
        <span class="glyphicon glyphicon-chevron-left"/></a>
    <a id="delete_account" href=
        {% url 'account_delete_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-trash"/></a>
    <a id="add_transaction" href=
        {% url 'transaction_add_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-plus"/></a>
        </tr>
    </table>
</div>
<div class="container">
    <h2 id="id_transaction_list_title">Transactions</h2>

     {% include 'account_transactions_list.html' with transactions=transactions_page %}
</div>
{% endblock %}
