{% extends 'base_list.html' %}

{% block title %}
Account List
{% endblock %}

{% block header %}
Account Name
{% endblock %}

{% block table %}
{{ block.super }}
{% endblock %}

{% block item_url %}
{% url 'account_view' item.id %}
{% endblock %}

{% block item_name %}
    {% for accountstaticitem in item.accountstaticsatellite_set.all %}
        {{ accountstaticitem.account_name }}
    {% endfor %}
{% endblock %}

{% block item_value %}
    {% for bankaccountitem in item.bankaccountpropertysatellite_set.all %}
        {{ bankaccountitem.account_value }}
    {% endfor %}
{% endblock %}
