{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ account_statics.account_name }}</h1>
        </div>
    </div>
</div>
<div class="panel-footer">
    <table>
        <tr>
    <a id="list_back" href={% url "account_list" %}>
        <span class="glyphicon glyphicon-chevron-left"/></a>
    <a id="delete_account" href=
        {% url 'account_delete_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-trash"/></a>
    <a id="add_transaction" href=
        {% url 'transaction_add_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-plus"/></a>
        </tr>
    </table>
</div>
<div class="container">
    <h2 id="id_account_details_title">Bank Account Details</h2>
    <div id="id_account_details">
        <table class="table">
            <tr>
                <th>Account Name</th>
                <th>Credit Institution</th>
            </tr>
            <tr>
                <td>{{ account_statics.account_name }}</td>
                <td>{{ credit_institution.credit_institution_name }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <h2 id="id_transaction_list_title">Transactions</h2>

    {% block table %}
        <div id="id_transaction_list">
            <table class="table">
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Value</th>
                    <th>Account</th>
                </tr>
                {% for transaction in account_transactions %}
                    <tr>
                        <td>{{ transaction.transaction_description }}</td>
                        <td>{{ transaction.transaction_date }}</td>
                        <td>{{ transaction.transaction_amount }}</td>
                        <td>{{ transaction.transaction_price }}</td>
                        <td>{{ transaction.transaction_value }}</td>
                        <td>{{ account_statics.account_name }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    {% endblock %}
</div>
{% endblock %}
