{% extends 'base.html' %}
{% block title %}
    Add new {{ account_type }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div name="acccount_name"><h2>{{ account_name }}</h2></div>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" 
              role="form" 
              method="POST"
              action='/account/bank_account/new/{{ account_name }}/{{ account_type }}'>
            <div class="form-group">
                <label for="item-name">IBAN</label>
                <input class="form-control" 
                       type="text" 
                       name="bank_account_iban"
                       placeholder="IBAN of new Account"
                       id="id_bank_account_new__iban" />
                <label for="item-account-type">Credit Institution</label>
                <select class="form-control" 
                        name="credit_institution_name"
                        id="id_bank_account_new__credit_institution">
                    {% for credit_institution in credit_institutions %}
                    <option value="{{ credit_institution.credit_institution_name }}">{{ credit_institution.credit_institution_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" 
            class="btn btn-warning" 
            value="Submit"
            id="id_bank_account_new__submit"/>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
