{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ account_statics.account_name }}</h1>
        </div>
    </div>
</div>
<div class="panel-footer">
    <table>
        <tr>
    <a id="list_back" href={% url "account_list" %}>
        <span class="glyphicon glyphicon-chevron-left"/></a>
    <a id="delete_account" href=
        {% url 'account_delete_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-trash"/></a>
    <a id="add_transaction" href=
        {% url 'transaction_add_form' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-plus"/></a>
    <a id="id_transactions_upload" href=
        {% url 'upload_transaction_to_account_file' account_id=account_statics.hub_entity.id %}>
        <span class="glyphicon glyphicon-upload"/></a>
        </tr>
    </table>
</div>
<div class="container">
    <h2 id="id_account_details_title">Bank Account Details</h2>
    <div id="id_account_details">
        <table class="table">
            <tr>
                <th>Account Name</th>
                <th>IBAN</th>
                <th>Credit Institution</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>{{ account_statics.account_name }}</td>
                <td>{{ bank_account_statics.bank_account_iban }}</td>
                <td>{{ credit_institution.credit_institution_name }}</td>
                <td>{{ bank_account_properties.account_value }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <h2 id="id_transaction_list_title">Transactions</h2>
    <div id='id_income_expanse_plot'>
        {{ income_expanse_plot|safe }}
    </div>

    {% block table %}
    {% include 'account_transactions_list.html' with transactions=transactions_page %}
    {% endblock %}
</div>
{% endblock %}
