{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Add new Account</h1>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" 
              role="form" 
              method="POST"
              action='/account/new'>
            <div class="form-group">
                <label for="item-name">Account Name</label>
                <input class="form-control" 
                       type="text" 
                       name="account_name"
                       placeholder="Name of new Account"
                       id="id_account_new__name" />
                <label for="item-account-type">Account Type</label>
                <select class="form-control" 
                        name="account_type"
                        id="id_account_new__account_type">
                    {% for account_option, account_type in account_types %}
                    <option value="{{ account_type }}">{{ account_type }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" 
            class="btn btn-warning" 
            value="Submit"
            id="id_account_new__submit"/>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
