.env
montrek/*/__pycache__
montrek/*/*/__pycache__
venv_montrek/*
montrek/uploads/*
montrek/sent_emails/*
*.pyc
montrek/mt_accounting/*
montrek/mt_economic_common/*
montrek/baseclasses/static/logos/effectual_logo.png
nginx/certs/*
montrek/reporting/.workbench/*
montrek/*/.coverage
montrek/*/*/.coverage
montrek/.coverage
montrek/.scannerwork
montrek/*/.coverage
montrek/*/.scannerwork
montrek/*/coverage.xml
montrek/*/*/coverage.xml
montrek/coverage.xml
montrek/*/*.sqlite
montrek/*.sqlite
.aider*
