Jinja2==3.1.4
Markdown==3.6
celery==5.4.0
django-celery-beat==2.7.0
django-debug-toolbar==5.0.1
django-extensions==3.2.3
django-pandas==0.6.7
django==5.1.5
djangorestframework==3.15.2
factory-boy==3.3.1
faker-marketdata==0.4
freezegun==1.5.0
graphviz==0.20.3
gunicorn==22.0.0
kaleido==0.2.1
openpyxl==3.1.2
pandas==2.2.3
plotly==5.24.1
psycopg2==2.9.10
python-decouple==3.8.0
redis==5.0.4
requests==2.32.3
ruff==0.11.2
sdmx1==2.15.0
sdmx==0.2.10
sf-hamilton==1.86.1
tabulate==0.9.0
tblib==3.0.0
yfinance==0.2.52
bleach==6.2.0
tinycss2==1.4.0
