#First Wave
packaging==25.0
ruff==0.14.7
pre_commit==4.5.0
graphviz==0.21
tabulate==0.9.0
mypy==1.19.1
#Second Wave
django-celery-beat==2.8.1
django-debug-toolbar==6.1.0
django-extensions==4.1
django-fernet-encrypted-fields==0.3.1
django-pandas==0.6.7
django-stubs==5.2.8
django-querycount==0.8.3
django==5.2.9
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
mozilla-django-oidc==4.0.1
# Third Wave
celery==5.6.0
redis==7.1.0
gevent==25.9.1
gunicorn==23.0.0

# Fourth Wave
pandas==2.3.3
matplotlib==3.10.7
plotly==6.5.0
scipy==1.16.3
kaleido==1.2.0
networkx==3.6
openpyxl==3.1.5
tblib==3.2.2
pypandoc==1.16.2

Jinja2==3.1.6
Markdown==3.10
beautifulsoup4==4.14.3
bleach==6.3.0
coverage==7.12.0
cryptography==46.0.3
docxtpl==0.20.2
factory-boy==3.3.3
faker-marketdata==0.4
freezegun==1.5.5
psycopg2-binary==2.9.11
python-decouple==3.8
requests==2.32.5
sf-hamilton==1.89.0
tinycss2==1.5.1
