{% extends 'base.html' %}
{% block title %}Delete Account{% endblock %}
{% block content %}
<h1>Delete Account <i>{{ account_statics.account_name }}</i></h1>
    <p>Are you sure you want to delete your account?</p>
    <form method="post"
          action="{% url 'account_delete' account_id=account_statics.hub_entity.id %}"
        >
        {% csrf_token %}
        <input id="delete_account" type="submit" value="Delete" class="btn btn-danger">
        <a href="{% url 'account_view' account_id=account_statics.hub_entity.id%}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
```
