{% extends "base_common.html" %}
{% load base_tags %}

{% block body_layout %}
<div class="row">

  <!-- LEFT SIDEBAR (2 cols) -->
  <div class="col-2">
    {% if overview %}
      <h2>Overview</h2>
      {{ overview|safe }}
    {% endif %}
  </div>

  <!-- MAIN (8 cols) -->
  <div class="col-8">
    <div class="px-0">

      {% include "partials/title_and_date.html" %}
      {% include "partials/tabs_and_actions.html" %}

      <div class="row">
        <div class="col-12">
          {% block content %}{% endblock %}
        </div>
      </div>

    </div>
  </div>

  <!-- RIGHT SIDEBAR (2 cols) -->
  <div class="col-2">
    <div>
      {% include_client_logo %}
    </div>
    <div>
      {% block side_page %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
