{% extends 'base.html' %}

{% block content %}

{% block table %}
<div id="id_list">
    <table class="table">
        <tr><th colspan="2">{% block header %}{% endblock %}</th>
            <th>Value</th>
            <th>Type</th>
        </tr>
        {% for item in items %}
        <tr><td>{% block item_name %}{% endblock %}</td>
            <td><a id='link_{{ item.id }}'
		   href="{% block item_url %}{% endblock %}"><span class="glyphicon
                                                    glyphicon-chevron-right"></a></td>
            <td>{% block item_value %}{% endblock %}</td>
            <td>{% block item_type %}{% endblock %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% endblock %}
