{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Montrek</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base.css' %}" >
 </head>
 <body>
	 <!-- Bootstrap CSS Link -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Your Webpage -->
<div class="container-fluid">

    <!-- NAVBAR -->
    <div class="row">
	  {% include 'navbar.html' %}
            <!-- ... Your Navbar Code ... -->
    </div>

    <div class="row">
	<div class="col-md-2">
		<div class="row">
		    <h2>OVERVIEW</h2>
		</div>
		<div class="row">
		    <h2>LINKS</h2>
            <table>
                <tr>
                    <td><a href="https://github.com/chrishombach/montrek" target="_blank">Github</a></td>
                </tr>
                <tr>
                    <td><a href="https://banking.dkb.de/login" target="_blank">DKB</a></td>
                </tr>
                <tr>
                    <td><a href="https://webtrading.onvista-bank.de/login" target="_blank">Onvista</a></td>
                </tr>
            </table>
		</div>
	</div>
	<div class="col-md-8">
	    <!-- TITLE -->
	    <div class="row">
		    <h1 id="page_title">{% block title %}{% endblock %}</h1>
	    </div>
        <!-- DATE RANGE SELECTOR -->
        {% if show_date_range_selector %}
            <form method="get">
                {{ date_range_form.start_date.label_tag }}: {{ date_range_form.start_date }}
                {{ date_range_form.end_date.label_tag }}: {{ date_range_form.end_date }}
                <input id="id_date_range_filter" type="submit" value="Filter">
            </form>
        {% endif %}
	    <!-- TABS -->
	    <div class="row">
		    <!-- Use Bootstrap's tab component or just styled links/buttons -->
		    <ul class="nav nav-tabs">
			{% for tab in tab_elements %}
             <li class="nav-item {{ tab.active }}">
                 <a class="nav-link " id="{{ tab.html_id }}" href="{{ tab.link }}">{{ tab.name }}</a>
             </li>
			{% endfor %}
		    </ul>
	    </div>
	    <!-- ACTION BAR -->
	    <div class="row">
		{% for action in action_elements %}
		<a id="{{ action.action_id }}" href="{{ action.link }}" class="btn btn-primary">
			<span class="glyphicon glyphicon-{{ action.icon }}"/></a>
		{% endfor %}
	    </div>
	    <!-- CONTENT -->
	    <div class="row">
		  {% block content %}{% endblock %}
	    </div>
	</div>
    </div>

</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


   </body>
</html>
