{% load static %}
{% load nav_tags %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Montrek</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base.css' %}" >
 </head>
 <body>
	 <!-- Bootstrap CSS Link -->

<!-- Your Webpage -->
<div class="container-fluid">

    <!-- NAVBAR -->
    <div class="row">
        {% include_navbar %}
    </div>
    <div class="row">
    {% if messages %}
       {% for message in messages %}
	    {% if message.tags == 'error' %}
		<div class="alert alert-danger" role="alert">
		    {{ message }}
		</div>
	    {% elif message.tags == 'info' %}
		<div class="alert alert-success" role="alert">
		    {{ message }}
		</div>
	    {% else %}
		<div class="alert {{ message.tags }}" role="alert">
		    {{ message }}
		</div>
	    {% endif %}
       {% endfor %}
    {% endif %}
    </div>

    <div class="row">
	<div class="col-md-2">
		<div class="row">
		    <h2>OVERVIEW</h2>
		</div>
		<div class="row">
		    <h2>LINKS</h2>
            <table>
                <tr>
                    <td><a href="https://github.com/chrishombach/montrek" target="_blank">Github</a></td>
                </tr>
                <tr>
                    <td><a href="https://banking.dkb.de/login" target="_blank">DKB</a></td>
                </tr>
                <tr>
                    <td><a href="https://webtrading.onvista-bank.de/login" target="_blank">Onvista</a></td>
                </tr>
            </table>
		</div>
	</div>
	<div class="col-md-8">
	    <!-- TITLE -->
	    <div class="row">
            <h1 id="page_title">{{ page_title }}</h1>
	    </div>
        <!-- DATE RANGE SELECTOR -->
        {% if show_date_range_selector %}
	    <div class="row">
            <form method="get">
                {{ date_range_form.start_date.label_tag }} {{ date_range_form.start_date }}
                {{ date_range_form.end_date.label_tag }} {{ date_range_form.end_date }}
                <input id="id_date_range_filter" type="submit" value="Filter">
            </form>
	    </div>
        {% endif %}
	    <!-- TABS -->
	    <div class="row">
		    <!-- Use Bootstrap's tab component or just styled links/buttons -->
		    <ul class="nav nav-tabs">
			{% for tab in tab_elements %}
             <li class="nav-item {{ tab.active }}">
                 <a class="nav-link " id="{{ tab.html_id }}" href="{{ tab.link }}">{{ tab.name }}</a>
             </li>
			{% endfor %}
		    </ul>
	    </div>
	    <!-- ACTION BAR -->
	    <div class="row">
            {% for tab in tab_elements %}
            {% if tab.active == "active" %}
            {% for action in tab.actions %}
            <a id="{{ action.action_id }}" href="{{ action.link }}" class="btn" title="{{ action.hover_text }}">
                    <span class="glyphicon glyphicon-{{ action.icon }}"/></a>
            {% endfor %}
            {% endif %}
            {% endfor %}
	    </div>
	    <!-- CONTENT -->
	    <div class="row">
		  {% block content %}{% endblock %}
	    </div>
	</div>
    </div>

</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



   </body>
</html>
