{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Montrek</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base.css' %}" >
 </head>
 <body>
	 <!-- Bootstrap CSS Link -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Your Webpage -->
<div class="container-fluid">

    <!-- NAVBAR -->
    <div class="row">
	  {% include 'navbar.html' %}
            <!-- ... Your Navbar Code ... -->
    </div>

    <!-- TITLE -->
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>TITLE</h1>
        </div>
    </div>

    <!-- TABS -->
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <!-- Use Bootstrap's tab component or just styled links/buttons -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Tab1</a></li>
                <li><a href="#">Tab2</a></li>
                <!-- ... More tabs ... -->
            </ul>
        </div>
    </div>

    <!-- ACTION BAR -->
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <!-- Your action bar elements (could be buttons or other controls) -->
        </div>
    </div>

    <!-- CONTENT -->
    <div class="row">
        <!-- OVERVIEW -->
        <div class="col-md-2">
            <h2>OVERVIEW</h2>
            <!-- Overview content here -->
        </div>

        <!-- MAIN CONTENT -->
        <div class="col-md-8">
            <!-- Your main content goes here -->
		  {% block content %}{% endblock %}

            <!-- LINKS -->
            <h2>LINKS</h2>
            <!-- Your links or related content goes here -->
        </div>
    </div>

</div>

<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


   </body>
</html>
