{% load static %}
{% if is_url %}
<a href={{ client_logo_link }} target="_blank">
  <img
    src="{{ client_logo_path }}"
    class="img-fluid"
    width="1"
    height="1"
    style="width: 100%; height: auto;"
    alt="Client Logo"
  />
</a>
{% else %}
    {% with 'logos/'|add:client_logo_path as logo_path %}
        <a href={{ client_logo_link }} target="_blank">
          <img
            src="{% static logo_path %}"
            class="img-fluid"
            width="1"
            height="1"
            style="width: 100%; height: auto;"
            alt="Client Logo"
          />
        </a>
    {% endwith %}
{% endif %}
