{% extends 'base.html' %}
{% block content %}
{% include 'includes/_admin_widgets.html' %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6 col-xl-4">
      <div class="tile p-4">
        <h2 id="id_title" class="mb-4 text-center">{{ tag }}</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'includes/_form_fields.html' %}
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-custom" id="id_submit">{{ tag }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
