{% extends 'base.html' %}
{% load data_table_filters %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h2 id="id_montrek_table_title">{{ title }}</h2>
      </div>
    </div>
    <div id="id_montrek_table_list" class="row">
      <div class="col-lg-6">
        <table class="table table-bordered table-hover">
          {% for detail_element in detail_elements %}
            <tr>
            <th>{{ detail_element.name }}</th>
            {{ object|show_item:detail_element|safe }}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
