{% extends 'base.html' %}
{% load data_table_filters %}
{% block content %}
    <h2 id="id_montrek_table_title">{{ title }}</h2>
    <div id="id_montrek_table_list">
    <table class="table">
        <tr>
          {% for table_element in table_elements %}
            <th>{{ table_element.name }}</th>
          {% endfor %}
        </tr>
        {% for row in object_list %}
          <tr>
           {% for table_element in table_elements %}
            {{ row|show_item:table_element|safe }}
           {% endfor %}
          </tr> 
        {% endfor %}
    </table>
    </div>
     <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
            <a href="?page=1"><span class="glyphicon glyphicon-fast-backward"/></a>
                <a href="?page={{ object_list.previous_page_number }}"><span class="glyphicon glyphicon-step-backward"/></a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}"><span class="glyphicon glyphicon-step-forward"/></a>
                <a href="?page={{ object_list.paginator.num_pages }}"><span class="glyphicon glyphicon-fast-forward"/></a>
            {% endif %}
        </span>
    </div>
{% endblock %}
