{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
		<h1 id="id_title">{{ tag }} {{ title }}</h1>
        </div>
    </div>
    <form method="post">
	{% csrf_token %}
    <div class="table">
        <table>
             {% for field in form %}
                 <tr><td>{{ field.label_tag }} </td><td>{{ field }}</td></tr>
             {% endfor %}
	    <tr><td colspan="2">
                <input type="submit" value="{{ tag }}" class="btn btn-primary" id="id_submit">  {# Here's the submit button #}
	    </td></tr>
        </table>
    </div>
    </form>
</div>
{% endblock %}
