{% extends 'base.html' %}
{% block content %}
<!--Start: needed for FilteredSelectMultiple widget used in MontrekCreateForm-->
{% load static %}
<link href="{% static 'admin_copy/css/widgets.css' %}" type="text/css" rel="stylesheet">
<script src="{% url 'jsi18n' %}"></script>
<script src="{% static 'admin_copy/js/core.js' %}"></script>
<script src="{% static 'admin_copy/js/SelectBox.js' %}"></script>
<script src="{% static 'admin_copy/js/SelectFilter2.js' %}"></script>
<!--End: needed for FilteredSelectMultiple widget used in MontrekCreateForm-->
<div class="container-fluid"> <!-- Added margin-top for spacing -->
  <div class="col-lg-5">
    <div class="row"> <!-- Centered the title for better alignment -->
      <h2 id="id_title">{{ tag }}</h1> <!-- Centered the title and added bottom margin -->
    </div>
    <div class="row"> <!-- Centered the title for better alignment -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="table-responsive"> <!-- Made table responsive -->
          <table class="table table-bordered table-hover"> <!-- Applied Bootstrap table styles -->
            {% for field in form %}
            <tr>
              <th>{{ field.label_tag }}</th>
              <td>{{ field }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="2" class="text-center"> <!-- Centered the submit button -->
                <button type="submit" class="btn btn-primary" id="id_submit">{{ tag }}</button> <!-- Used button instead of input for better styling -->
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
