{% extends 'base.html' %}
{% load data_table_filters %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <h2>{{ title }}</h2>
      </div>
      <div class="col-3">
        <div class="row tile">
          <form action="" method="get" class="col-2">
            <input type="hidden" name="gen_pdf" value="true" />
            <button type="submit" class="btn btn-light-custom" title="Export to pdf"><span class="bi bi-file-earmark-pdf"></span></button>
          </form>
          <form action="" method="get" class="col-2">
            <input type="hidden" name="send_mail" value="true" />
            <button type="submit" class="btn btn-light-custom" title="Send report per mail"><span class="bi bi-envelope"></span></button>
          </form>
          <form action="" method="get" class="col-2">
            <input type="hidden" name="gen_rest_api" value="true" />
            <button type="submit" class="btn btn-light-custom" title="Get REST Api data"><span class="bi bi-globe"></span></button>
          </form>
        </div>
      </div>
    </div>
    <div class="row" style="background-color: white ;padding:5mm; border-style:solid">
      {{ report_form  |safe}}
      <div id="report-content"
             hx-get="{{ request.get_full_path }}"
             hx-trigger="load"
             hx-target="#report-content">
            {{ report | safe }}
        </div>
    </div>
  </div>
{% endblock %}
