{% extends 'base.html' %}
{% load data_table_filters %}
{% block content %}
	<div class="col-md-12">
    {% for history_data_table in history_data_tables %} 
    <div class="row">
        <h2 id="id_montrek_table_title">{{ history_data_table.title }}</h2>
    </div>

    <div id="id_montrek_table_list" class="row">
      <div class="table-responsive">
          <table class="table table-bordered table-hover">
              <tr>
                {% for table_element in history_data_table.elements %}
                  <th>{{ table_element.name }}</th>
                {% endfor %}
              </tr>
              {% for row in history_data_table.queryset %}
                <tr style="white-space:nowrap;">
                {% for table_element in history_data_table.elements %}
                  {{ row|show_item:table_element|safe }}
                {% endfor %}
                </tr> 
              {% endfor %}
          </table>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
