{% extends 'base.html' %}
{% load data_table_filters %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 id="id_montrek_table_title">{{ title }}</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-9">
      </div>
      <div class="col-3 text-right tile">
        <div class="row">
          <form action="" method="get" class="col-lg-2">
            <input type="hidden" name="gen_pdf" value="true" />
            <button type="submit" class="btn btn-light-custom" title="Export to pdf"><span class="bi bi-file-earmark-pdf"</span></button>
          </form>
          <form action="" method="get" class="col-lg-2">
            <input type="hidden" name="gen_rest_api" value="true" />
            <button type="submit" class="btn btn-light-custom" title="Get REST Api data"><span class="bi bi-globe"</span></button>
          </form>
        </div>
      </div>

    </div>
    <div id="id_montrek_table_list" class="row tile">
      <div class="col-12">
        {{ table  | safe }}
      </div>
    </div>
  </div>
{% endblock %}
