<div class="navbar navbar-inverse">
 <div class="container">
	 <div class="navbar-header">
		 <a href={% url "home" %} class="navbar-brand">Montrek</a>
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			 <span class="sr-only">Toggle Navigation</span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
			 <span class="icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
          <li><a href={% url "home"  %}>Home</a></li>
          {% for nav_app in nav_apps %}
            <li><a href={% url nav_app.app_name %}>{{ nav_app.display_name }}</a></li>
          {% endfor %}
        </ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href={% url "under_construction" %}>Login</a></li>
			<li><a href={% url "under_construction" %}>Sign Up</a></li>
		</ul>
		</div>
	 </div>
</div>
