<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">

    <!-- Brand / Home -->
    <a class="navbar-brand" href="{{ home_url }}">{{ home_label }}</a>

    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
      aria-controls="mainNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <!-- Left Navigation -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{{ home_url }}">{{ home_label }}</a>
        </li>

        {% for nav_dd in navbar_dropdowns %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown{{forloop.counter}}"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ nav_dd.display_name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown{{forloop.counter}}">
            {% for nav_app in nav_dd.dropdown_items %}
            <li>
              <a class="dropdown-item" href="{% url nav_app.app_name %}">
                {{ nav_app.display_name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}

        {% for nav_app in nav_apps %}
        <li class="nav-item">
          <a class="nav-link" href="{% url nav_app.app_name %}">
            {{ nav_app.display_name }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <!-- Right Navigation -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="navbar-text">Logged in as {{ user.email }}</span>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="userDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-gear"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#" onclick="logout(event)">Logout</a></li>
            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
            <li><a class="dropdown-item" href="{% url 'info' %}">Info</a></li>
            <li><a class="dropdown-item" href="{% url 'montrek_docs' docs_name='01_montrek_software_architecture' %}">Montrek Documentation</a></li>
          </ul>
        </li>

        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
