{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Add transaction to {{ account_statics.account_name }}  </h1>
        </div>
    </div>
    <div class="row">
        <form class="form-horizontal" 
              role="form" 
              method="POST"
              action='/transaction/transaction_add/{{ account_statics.hub_entity.id }}'>
            <div class="form-group">
                <table>
                    <tr><td>
                    <label for="item-name">Transaction Description</label>
                    </td><td>
                    <input class="form-control" 
                       type="text" 
                       name="transaction_description"
                       placeholder="Description"
                       id="id_transaction_new__name" />
                        </td></tr>
                    <tr><td>
                    <label for="item-name">Transaction Amount</label>
                    </td><td>
                    <input class="form-control" 
                       type="number" 
                       name="transaction_amount"
                       placeholder="X"
                       id="id_transaction_new__amount" />
                    </td></tr>
                    <tr><td>
                    <label for="item-name">Transaction Price</label>
                    </td><td>
                    <input class="form-control" 
                       type="number" 
                       step=".01"
                       name="transaction_price"
                       placeholder="X.XX"
                       id="id_transaction_new__price" />
                    </td></tr>
                    <tr><td>
                    <label for="item-name">Transaction Date</label>
                    </td><td>
                    <input class="form-control" 
                       type="date" 
                       name="transaction_date"
                       placeholder="YYYY-MM-DD"
                       id="id_transaction_new__date" />
                    </td></tr>
                </table>
            </div>
            <input type="submit" 
            class="btn btn-warning" 
            value="Submit"
            id="id_transaction_new__submit"/>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
