{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Delete Transaction Category Map</h1>
        </div>
    </div>
    <form method="post" action="{% url 'transaction_category_map_delete' account_id=account_id pk=pk %}">
	{% csrf_token %}
    <div class="table">
        <table>
            <tr><td>{{ form.field.label }} </td><td>{{ form.field }}</td></tr>
            <tr><td>{{ form.value.label }} </td><td>{{ form.value }}</td></tr>
            <tr><td>{{ form.category.label }} </td><td>{{ form.category }}</td></tr>
	    <tr><td colspan="2">
                    <input type="submit" value="Save" class="btn btn-primary">  {# Here's the submit button #}
	    </td></tr>
        </table>
    </div>
    </form>
</div>
{% endblock %}
