{% extends 'base.html' %}
{% block title %}Add transaction to {{ account_statics.account_name }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <form class="form-horizontal" 
              role="form" 
              method="POST"
              action='/transaction/add/{{ account_statics.hub_entity.id }}'>
            <div class="form-group">
                <table>
                    <tr><td>
                    <label for="item-name">Transaction Description</label>
                    </td><td>
                    <input class="form-control" 
                       type="text" 
                       name="transaction_description"
                       placeholder="Description"
                       id="id_transaction_new__name" />
                    </td><td></td></tr>
                    <tr><td>
                    <label for="item-name">Transaction Amount</label>
                    </td><td>
                    <input class="form-control" 
                       type="number" 
                       name="transaction_amount"
                       placeholder="X"
                       id="id_transaction_new__amount" />
                    </td><td></td></tr>
                    <tr><td>
                    <label for="item-name">Transaction Price</label>
                    </td><td>
                    <input class="form-control" 
                       type="number" 
                       step=".01"
                       name="transaction_price"
                       placeholder="X.XX"
                       id="id_transaction_new__price" />
                    </td><td></td></tr>
                    <tr><td>
                    <label for="item-name">Transaction Date</label>
                    </td><td>
                    <input class="form-control" 
                       type="date" 
                       name="transaction_date"
                       placeholder="YYYY-MM-DD"
                       id="id_transaction_new__date" />
                    </td><td></td></tr>
                    <tr><td>
                    <label for="item-name">Transaction Asset</label>
                    </td><td>
                    {% for asset in assets %}
                        <option value="{{ asset }}">{{ asset }}</option>
                    {% endfor %}
                    </td>
                    <td> <a id="id_add_new_asset" href="/asset/new_form" class="btn" title="Add new Asset">
                        <span class="glyphicon glyphicon-plus"/></a></td>
                    </tr>
                </table>
            </div>
            <input type="submit" 
            class="btn btn-warning" 
            value="Submit"
            id="id_transaction_new__submit"/>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}
