{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12">
      <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if link %}
        <p><a href={{ link }}>{{ link_text}}</a></p>
      {% endif %}
    </div>
{% endblock %}
