<form
  hx-post="{{ display_url }}"
  hx-target="#field-content-container-{{ field }}"
>
  {% csrf_token %}
  <div class="container-fluid p-0">
    <div class="row border p-3">
      <div class="col">
        <textarea name="content" class="form-control" rows="5">
{{ object_content }}</textarea
        >
      </div>
    </div>
    <div class="row p-2">
      <input type="hidden" name="field" value="{{ field }}" />
      <div class="col-lg-1">
        <button type="submit" name="action" value="save" class="btn">
          <span class="glyphicon glyphicon-floppy-disk" />
        </button>
      </div>
      <div class="col-lg-1">
        <button type="submit" name="action" value="cancel" class="btn">
          <span class="glyphicon glyphicon-remove" />
        </button>
      </div>
      <div class="col-lg-10"></div>
    </div>
  </div>
</form>
