<div class="footer mt-4 py-3 bg-light">
  <div class="container">
    <div class="row">
      <div
        class="col text-right d-flex justify-content-end align-items-center gap-2"
      >
        <span>© {% now "Y" %} powered by</span>

        <a
          href="https://montrek-software.de"
          target="_blank"
          class="d-inline-flex align-items-center"
        >
          <img
            src="https://images.squarespace-cdn.com/content/v1/673bfbe149f99b59e4a41ee7/cf8061ac-dc74-490d-8b62-40497ebc9629/montrek_logo_variant.png?format=1500w"
            alt="montrek logo"
            height="20"
            width="auto"
          />
        </a>
      </div>
    </div>
  </div>
</div>
