<div class="row">
  <!-- CSV -->
  <form action="" method="get" class="col-2">
    <input type="hidden" name="gen_csv" value="true" />
    <button type="submit" class="btn btn-light-custom" title="Export to CSV">
      <i class="bi bi-download"></i>
    </button>
  </form>

  <!-- Excel -->
  <form action="" method="get" class="col-2">
    <input type="hidden" name="gen_excel" value="true" />
    <button type="submit" class="btn btn-light-custom" title="Export to Excel">
      <i class="bi bi-file-earmark-excel"></i>
    </button>
  </form>

  <!-- PDF -->
  <form action="" method="get" class="col-2">
    <input type="hidden" name="gen_pdf" value="true" />
    <button type="submit" class="btn btn-light-custom" title="Export to PDF">
      <i class="bi bi-file-earmark-pdf"></i>
    </button>
  </form>

  <!-- REST -->
  <form action="" method="get" class="col-2">
    <input type="hidden" name="gen_rest_api" value="true" />
    <button
      type="submit"
      class="btn btn-light-custom"
      title="Get REST API data"
    >
      <i class="bi bi-globe"></i>
    </button>
  </form>

  <!-- Refresh -->
  <form action="" method="get" class="col-2">
    <input type="hidden" name="refresh_data" value="true" />
    <button type="submit" class="btn btn-light-custom" title="Refresh data">
      <i class="bi bi-arrow-repeat"></i>
    </button>
  </form>
</div>
