<div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <!-- CSV -->
  <div class="col">
    <form method="get">
      <input type="hidden" name="gen_csv" value="true" />
      <button type="submit" class="btn btn-light-custom" title="Export to CSV">
        <i class="bi bi-download"></i>
      </button>
    </form>
  </div>

  <!-- Excel -->
  <div class="col">
    <form method="get">
      <input type="hidden" name="gen_excel" value="true" />
      <button
        type="submit"
        class="btn btn-light-custom"
        title="Export to Excel"
      >
        <i class="bi bi-file-earmark-excel"></i>
      </button>
    </form>
  </div>

  <!-- PDF -->
  <div class="col">
    <form method="get">
      <input type="hidden" name="gen_pdf" value="true" />
      <button type="submit" class="btn btn-light-custom" title="Export to PDF">
        <i class="bi bi-file-earmark-pdf"></i>
      </button>
    </form>
  </div>
  <!-- REST -->
  <div class="col">
    <form method="get">
      <input type="hidden" name="gen_rest_api" value="true" />
      <button
        type="submit"
        class="btn btn-light-custom"
        title="Get REST API data"
      >
        <i class="bi bi-globe"></i>
      </button>
    </form>
  </div>

  <!-- Refresh -->
  <div class="col">
    <form method="get">
      <input type="hidden" name="refresh_data" value="true" />
      <button type="submit" class="btn btn-light-custom" title="Refresh data">
        <i class="bi bi-arrow-repeat"></i>
      </button>
    </form>
  </div>
</div>
