{% load data_table_filters %}

<form method="get" class="w-100">
  {% for f in filter_forms %}
  <!-- One row exactly like the old version -->
    <div class="row mb-1">
      <!-- FIELD -->
      <div class="col-lg-3 px-1">
        <span class="input-group-text bg-primary-light-custom">Field</span>
        {{ f.filter_field|add_class:"form-select" }}
      </div>

      <!-- NEGATE -->
      <div class="col-lg-2 px-1">
        <span class="input-group-text bg-primary-light-custom">Not</span>
        {{ f.filter_negate|add_class:"form-select" }}
      </div>

      <!-- LOOKUP -->
      <div class="col-lg-3 px-1">
        <span class="input-group-text bg-primary-light-custom">Cond</span>
        {{ f.filter_lookup|add_class:"form-select" }}
      </div>

      <!-- VALUE -->
      <div class="col-lg-4 px-1">
        <span class="input-group-text bg-primary-light-custom">Value</span>
        {{ f.filter_value|add_class:"form-control" }}
      </div>
    </div>
  {% endfor %}
  <form method="get" class="w-100">
    <div class="row g-2">
      <input type="hidden" id="form-action" name="action" value="">

        <div class="col-4 col-lg-9">
          <button
            type="submit"
            onclick="document.getElementById('form-action').value='filter'"
            class="btn btn-custom py-0"
          >
            Filter
          </button>
        </div>

        <div class="col-4 col-lg-2">
          <button
            type="submit"
            onclick="document.getElementById('form-action').value='reset'"
            class="btn btn-light-custom py-0"
          >
            Reset
          </button>
        </div>

        <div class="col-4 col-lg-1">
          <button
            type="submit"
            onclick="document.getElementById('form-action').value='add_filter'"
            class="btn btn-light-custom py-0"
            title="Add filter"
          >
            <i class="bi bi-plus fs-6"></i>
          </button>
        </div>
    </div>
  </form>
</form>
