<!-- TABS -->
<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs">
      {% for tab in tab_elements %}
        <li class="nav-item">
          <a
            class="nav-link {% if tab.active %}active{% endif %}"
            id="{{ tab.html_id }}"
            href="{{ tab.link }}"
          >
            {{ tab.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- ACTIONS -->
<div class="row">
  <div class="col-12 p-2">
    {% for action in actions %}
    <a
      id="{{ action.action_id }}"
      href="{{ action.link }}"
      class="btn btn-custom"
      title="{{ action.hover_text }}"
    >
      <span class="bi bi-{{ action.icon }} fs-4" />
    </a>
    {% endfor %}
  </div>
</div>
