<div id="id_upload_registries_list">
<table class="table">
    <tr>
        <th>File Name</th>
        <th>Upload Status</th>
        <th>Upload Message</th>
        <th>Upload Date</th>
        <th>File</th>
    </tr>
     {% for upload_registry in upload_registries %}
        <tr>
            <td>{{ upload_registry.file_name }}</td>
            <td>{{ upload_registry.upload_status }}</td>
            <td>{{ upload_registry.upload_message }}</td>
            <td>{{ upload_registry.created_at }}</td>
            <td><a id="id_download_upload_file_{{ upload_registry.hub_entity.id }}" href=
                {% url 'download_upload_file' upload_registry_id=upload_registry.hub_entity.id %}>
                <span class="glyphicon glyphicon-download"/></a>
            </td>
        </tr>
     {% endfor %}
</table>
</div>
 <div class="pagination">
    <span class="step-links">
        {% if upload_registries.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ upload_registries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ upload_registries.number }} of {{ upload_registries.paginator.num_pages }}.
        </span>

        {% if upload_registries.has_next %}
            <a href="?page={{ upload_registries.next_page_number }}">next</a>
            <a href="?page={{ upload_registries.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

