{% extends 'base.html' %}
{% block title %}Upload File Result{% endblock %}
{% block content %}

<div class="panel-footer">
    <table>
        <tr>
    <a id="id_back_button" href={% url "account_view_uploads" pk=account_id %}>
        <span class="glyphicon glyphicon-chevron-left"/></a>
        </tr>
    </table>
</div>
{% if fileuploadregistry.upload_status == 'processed' %}
    <div class="alert alert-success" role="alert" id="id_upload_message_success">
        {{ fileuploadregistry.upload_message }}
    </div>
{% else %}
    <div class="alert alert-danger" role="alert" id="id_upload_message_error">
        {{ fileuploadregistry.upload_message }}
    </div>
{% endif %}

{% endblock %}
```
