from django.db import models

from file_export.models import FileExportRegistryStaticSatelliteABC
{{ export_registry_hub_cls_import }}


class {{ export_registry_sat_cls_name }}(FileExportRegistryStaticSatelliteABC):
    hub_entity = models.ForeignKey({{ export_registry_hub_cls_name }}, on_delete=models.CASCADE)
