from file_export.managers.file_export_registry_manager import (
    FileExportRegistryManagerABC,
)
{{ export_registry_repo_cls_import }}


class {{ export_registry_manager_cls_name }}(FileExportRegistryManagerABC):
    repository_class = {{ export_registry_repo_cls_name }}
    document_name = "{{ export_registry_document_name }}"
    download_url = "{{ export_download_url_name }}"
