from reporting.dataclasses import table_elements as te
from reporting.managers.montrek_table_manager import MontrekTableManager
from reporting.managers.montrek_details_manager import MontrekDetailsManager
{{ repo_cls_import }}

class CommonTableElementsMixin:
    @property
    def table_elements(self):
        return [
            te.LinkTextTableElement(
                name="Details",
                url="{{ detail_view_url_name }}",
                kwargs={"pk": "hub_id"},
                text="hub_entity_id",
                hover_text="{{ details_hover }}",
            ),
            te.LinkTableElement(
                name="Edit",
                url="{{ update_view_url_name }}",
                icon="edit",
                kwargs={"pk": "id"},
                hover_text="{{ update_hover }}",
            ),
            te.LinkTableElement(
                name="Delete",
                url="{{ delete_view_url_name }}",
                icon="trash",
                kwargs={"pk": "id"},
                hover_text="{{ delete_hover }}",
            ),
        ]

class {{ manager_cls_name }}(CommonTableElementsMixin, MontrekTableManager):
    repository_class = {{ repo_cls_name }}


class {{ details_manager_cls_name }}(CommonTableElementsMixin, MontrekDetailsManager):
    repository_class = {{ repo_cls_name }}
