from django.urls import reverse
from baseclasses.dataclasses.view_classes import TabElement
from baseclasses.pages import MontrekPage


class {{ page_class_name }}(MontrekPage):
    page_title = "{{ page_title }}"
    def get_tabs(self):
        list_tab = TabElement(
            name="{{list_tab_name}}",
            link=reverse("{{list_url_name}}"),
            html_id="{{list_tab_id}}",
            active="active",
        )
        return (list_tab,)

