from django.urls import reverse
from baseclasses.dataclasses.view_classes import TabElement
from baseclasses.pages import MontrekPage


class {{ page_cls_name }}(MontrekPage):
    page_title = "{{ page_title }}"

    def get_tabs(self):
        return (
            TabElement(
                name="{{ list_tab_name }}",
                link=reverse("{{ list_view_url_name }}"),
                html_id="{{ list_tab_id }}",
                active="active",
            ),
        )


class {{ details_page_cls_name }}(MontrekPage):
    page_title = "{{ details_page_title }}"

    def get_tabs(self):
        return (
            TabElement(
                name="{{ details_tab_name }}",
                link=reverse("{{ detail_view_url_name }}", args=[self.obj.id]),
                html_id="{{ detail_tab_id }}",
                active="active",
            ),
        )
