import factory

from file_upload.tests.factories.file_upload_factories import (
    FileUploadRegistryStaticSatelliteFactory,
)
{{ registry_hub_factory_cls_import }}
{{ registry_sat_cls_import }}


class {{ registry_sat_factory_cls_name }}(FileUploadRegistryStaticSatelliteFactory):
    class Meta:
        model = {{ registry_sat_cls_name }}

    hub_entity = factory.SubFactory({{ registry_hub_factory_cls_name }})
