class {{ registry_processor_cls_name }}:
    message = "Not implemented"

    def __init__(self, file_upload_registry_hub, session_data, **kwargs):
        self.file_upload_registry_hub = file_upload_registry_hub
        self.session_data = session_data

    def pre_check(self, file_path: str) -> bool:
        raise NotImplementedError(
            "Please implement {{ registry_processor_cls_name }}.pre_check"
        )

    def process(self, file_path: str) -> bool:
        raise NotImplementedError(
            "Please implement {{ registry_processor_cls_name }}.process"
        )

    def post_check(self, file_path: str) -> bool:
        raise NotImplementedError(
            "Please implement {{ registry_processor_cls_name }}.post_check"
        )
