from django.db import models

from baseclasses.models import MontrekSatelliteABC, MontrekTimeSeriesSatelliteABC
{{ hub_value_date_cls_import }}


class {{ sat_cls_name }}(MontrekTimeSeriesSatelliteABC):
    hub_value_date = models.ForeignKey({{ hub_value_date_cls_name }}, on_delete=models.CASCADE)
