from django.db import models

from baseclasses.models import MontrekSatelliteABC


class {{ satellite_class_name }}(MontrekSatelliteABC):
    hub_entity = models.ForeignKey({{ hub_class_name }}, on_delete=models.CASCADE)
    identifier_fields = []
