from django.urls import path
{{ list_view_cls_import }}
{{ create_view_cls_import }}
{{ update_view_cls_import }}
{{ delete_view_cls_import }}
{{ detail_view_cls_import }}

urlpatterns = [
    path(
        "{{ list_view_url }}",
        {{ list_view_cls_name }}.as_view(),
        name="{{ list_view_url_name }}",
    ),
    path(
        "{{ create_view_url }}",
        {{ create_view_cls_name }}.as_view(),
        name="{{ create_view_url_name }}",
    ),
    path(
        "{{ delete_view_url }}",
        {{ delete_view_cls_name }}.as_view(),
        name="{{ delete_view_url_name }}",
    ),
    path(
        "{{ update_view_url }}",
        {{ update_view_cls_name }}.as_view(),
        name="{{ update_view_url_name }}",
    ),
    path(
        "{{ detail_view_url }}",
        {{ detail_view_cls_name }}.as_view(),
        name="{{ detail_view_url_name }}",
    ),
]
