{{ create_view_cls_import_rel }}
{{ list_view_cls_import_rel }}
{{ update_view_cls_import_rel }}
{{ delete_view_cls_import_rel }}
{{ history_view_cls_import_rel }}


__all__ = [
  "{{ create_view_cls_name }}",
  "{{ list_view_cls_name }}",
  "{{ update_view_cls_name }}",
  "{{ delete_view_cls_name }}",
  "{{ history_view_cls_name }}",
]
