from testing.test_cases.view_test_cases import (
    MontrekCreateViewTestCase,
    MontrekUpdateViewTestCase,
    MontrekViewTestCase,
    MontrekListViewTestCase,
    MontrekDeleteViewTestCase,
)
{{ hub_value_date_factory_cls_import }}
{{ sat_factory_cls_import }}
{{ create_view_cls_import }}
{{ update_view_cls_import }}
{{ list_view_cls_import }}
{{ delete_view_cls_import }}
{{ detail_view_cls_import }}
{{ history_view_cls_import }}


class {{ create_view_test_cls_name }}(MontrekCreateViewTestCase):
    viewname = "{{ create_view_url_name }}"
    view_class = {{ create_view_cls_name }}

    def creation_data(self):
        return {}


class {{ update_view_test_cls_name }}(MontrekUpdateViewTestCase):
    viewname = "{{ update_view_url_name }}"
    view_class = {{ update_view_cls_name }}

    def build_factories(self):
        self.sat_obj = {{ sat_factory_cls_name }}()

    def url_kwargs(self) -> dict:
        return {"pk": self.sat_obj.get_hub_value_date().id}

    def update_data(self):
        return {}


class {{ list_view_test_cls_name }}(MontrekListViewTestCase):
    viewname = "{{ list_view_url_name }}"
    view_class = {{ list_view_cls_name }}
    expected_no_of_rows = 1

    def build_factories(self):
        self.sat_obj = {{ sat_factory_cls_name }}()


class {{ delete_view_test_cls_name }}(MontrekDeleteViewTestCase):
    viewname = "{{ delete_view_url_name }}"
    view_class = {{ delete_view_cls_name }}

    def build_factories(self):
        self.sat_obj = {{ sat_factory_cls_name }}()

    def url_kwargs(self) -> dict:
        return {"pk": self.sat_obj.get_hub_value_date().id}



class {{ detail_view_test_cls_name }}(MontrekViewTestCase):
    viewname = "{{ detail_view_url_name }}"
    view_class = {{ detail_view_cls_name }}

    def build_factories(self):
        self.hub_vd = {{ hub_value_date_factory_cls_name }}(value_date=None)
        {{ sat_factory_cls_name }}(hub_entity=self.hub_vd.hub)

    def url_kwargs(self) -> dict:
        return {"pk": self.hub_vd.hub.id}


class {{ history_view_test_cls_name }}(MontrekViewTestCase):
    viewname = "{{ history_view_url_name }}"
    view_class = {{ history_view_cls_name }}

    def build_factories(self):
        self.hub_vd = {{ hub_value_date_factory_cls_name }}(value_date=None)
        {{ sat_factory_cls_name }}(hub_entity=self.hub_vd.hub)

    def url_kwargs(self) -> dict:
        return {"pk": self.hub_vd.id}
