from django.urls import reverse
from baseclasses.dataclasses.view_classes import ActionElement
from baseclasses.views import MontrekDetailView, MontrekListView
from baseclasses.views import MontrekCreateView
from baseclasses.views import MontrekUpdateView
from baseclasses.views import MontrekDeleteView
{{ manager_cls_import }}
{{ details_manager_cls_import }}
{{ page_cls_import }}
{{ details_page_cls_import }}
{{ create_form_cls_import }}


class {{ create_view_cls_name }}(MontrekCreateView):
    manager_class = {{ manager_cls_name }}
    page_class = {{ page_cls_name }}
    tab = "{{ list_tab_id }}"
    form_class = {{ create_form_cls_name }}
    success_url = "{{ list_view_url_name }}"
    title = "{{ create_view_title }}"


class {{ update_view_cls_name }}(MontrekUpdateView):
    manager_class = {{ manager_cls_name }}
    page_class = {{ page_cls_name }}
    tab = "{{ list_tab_id }}"
    form_class = {{ create_form_cls_name }}
    success_url = "{{ list_view_url_name }}"
    title = "{{ update_view_title }}"


class {{ delete_view_cls_name }}(MontrekDeleteView):
    manager_class = {{ manager_cls_name }}
    page_class = {{ page_cls_name }}
    tab = "{{ list_tab_id }}"
    success_url = "{{ list_view_url_name }}"
    title = "{{ delete_view_title }}"


class {{ list_view_cls_name }}(MontrekListView):
    manager_class = {{ manager_cls_name }}
    page_class = {{ page_cls_name }}
    tab = "{{ list_tab_id }}"
    title = "{{ list_view_title }}"

    @property
    def actions(self) -> tuple:
        action_new = ActionElement(
            icon="plus",
            link=reverse("{{ create_view_url_name }}"),
            action_id="{{ create_action_id }}",
            hover_text="{{ create_action_hover }}",
        )
        return (action_new,)

class {{ detail_view_cls_name }}(MontrekDetailView):
    manager_class = {{ details_manager_cls_name }}
    page_class = {{ details_page_cls_name }}
    tab = "{{ detail_tab_id }}"
    title = "{{ details_page_title }}"
