<button type="button"
        id="id_{{ id_tag }}"
        class="btn-custom p-1 mt-htmx-link"
        {% if aria_label %}aria-label="{{ aria_label }}"{% endif %}
        hx-post="{{ url }}"
        hx-swap="{{ hx_swap }}"
        {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}>
  <span class="bi bi-{{ icon }} mt-prominent-icon"></span>
  <output class="spinner-border spinner-border-sm htmx-indicator" aria-live="polite">
    <span class="visually-hidden">Loading...</span>
  </output>
</button>
