<div class="row">
  {% for column in form.grouped_columns %}
    <div class="col-md-4">
      {% for group_label, widgets in column %}
        <div class="app-group mb-2">

          <a class="fw-bold d-block"
             data-bs-toggle="collapse"
             href="#grp-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
            {{ group_label }}
          </a>

          <div id="grp-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
               class="collapse mt-2">
            {% for checkbox in widgets %}
              <div class="form-check">
                {{ checkbox.tag }}
                <label class="form-check-label">{{ checkbox.choice_label }}</label>
              </div>
            {% endfor %}
          </div>

        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
