{% if table_title %}
  <h3>{{ table_title }}</h3>
{% endif %}
<div class="row scrollable-content">
  <form method="get">
    <input type="hidden" name="order_action" id="form-order_by-action" value="">
      <table class="table table-custom-striped table-bordered table-hover">
        <thead>
          <tr>
            {% for table_element in table_elements %}
          <th
            class="{{ table_element.th_classes_str }}"
            {% if table_element.attr %}data-bs-toggle="tooltip" data-bs-title="{{ table_element.attr }}"{% endif %}
          >
            {% if pdf_mode %}
              {{ table_element.name }}
            {% else %}
              <button type="submit" onclick="document.getElementById('form-order_by-action').value='{{ table_element.attr }}'" class="btn-order-field">
                <div class="th-flex">
                  {{ table_element.name }}
                {% if order_field is not None %}
                  {% if table_element.attr == order_field %}
                    {% if order_descending %}
                      <span class="bi bi-arrow-up"></span>
                    {% else %}
                      <span class="bi bi-arrow-down"></span>
                    {% endif %}
                  {% endif %}
                {% endif %}
                </div>
              </button>
            {% endif %}
          </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% for row in display_fields %}
          {% include "tables/partials/table_row.html" with cells=row %}
        {% endfor %}
        </tbody>
      </table>
      {% if not display_fields %}
        <div class="empty-state">
          <i class="bi bi-inbox"></i>
          <p>No entries found</p>
        </div>
      {% endif %}
  </form>
</div>
