{% load montrek_table %}
{% if table_manager.table_title %}
  <h3>{{ table_manager.table_title }}</h3>
{% endif %}
<div class="row scrollable-content">
  <form method="get">
    <input type="hidden" name="order_action" id="form-order_by-action" value="">
      <table class="table table-custom-striped table-bordered table-hover">
        <thead>
          <tr>
            {% for table_element in table_manager.table_elements %}
          <th title="{{ table_element.attr }}">
            <button type="submit" onclick="document.getElementById('form-order_by-action').value='{{ table_element.attr }}'" class="btn-order-field">
              <div style="display: flex; justify-content: space-between; align-items: center;">
            {{ table_element.name }}
              </div>
              {% if table_element.attr == table_manager.order_field %}
                {% if table_manager.order_descending %}
                  <span class="bi bi-arrow-up"></span>
                {% else %}
                  <span class="bi bi-arrow-down"></span>
                {% endif %}
              {% endif %}
            </button>
          </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        {% render_table_body table_manager %}
        </tbody>
      </table>
    </input>
  </form>
</div>
