<table
  class="table table-custom-striped table-bordered table-hover table-responsive"
>
  <colgroup>
  {% for _ in  col_range  %}
    <col style="width:{{ col_widths_head }}%">
    <col style="width:{{ col_widths_body }}%">
  {% endfor %}
  </colgroup>
  {% for data_row in details_data %}
  <tr>
    {% for display_field in data_row %}
      <th>{{display_field.name}}</th>
      {% include "tables/partials/table_cell.html" with display_field=display_field %}
    {% endfor %} </tr>
  {% endfor %}
</table>
