<div
  class="sidebar bg-light border-right"
  style="width: 260px; overflow-y: auto"
>
  <ul class="nav flex-column" id="sideNavAccordion">
    {% for group, links in grouped_items.items %}
    {% with group_slug=group|slugify %}
    <li class="nav-item">
      <a
        class="nav-link d-flex justify-content-between align-items-center"
        data-toggle="collapse"
        href="#group-{{ group_slug }}"
        role="button"
        aria-expanded="{% if group == active_group %}true{% else %}false{% endif %}"
        aria-controls="group-{{ group_slug }}"
      >
        <strong>{{ group }}</strong>
        <span class="caret"></span>
      </a>
      <ul
        class="collapse list-unstyled ml-3 {% if group == active_group %}show{% endif %}"
        id="group-{{ group_slug }}"
        data-parent="#sideNavAccordion"
      >
        <li>
          <table role="presentation">
          {% for link in links %}
            <tr>{{ link  | safe}}</tr>
          {% endfor %}
          </table>
        </li>
      </ul>
    </li>
    {% endwith %}
    {% endfor %}
  </ul>
</div>
