<div
  class="sidebar bg-light border-right"
>
  <ul class="text-start nav navbar-custom flex-column" id="sideNavAccordion">
    {% for group, links in grouped_items.items %}
    {% with group_slug=group|slugify %}
    <li class="text-start nav-item">
      <button
        class="nav-link p-0 text-start w-100"
        data-bs-toggle="collapse"
        data-bs-target="#group-{{ group_slug }}"
        aria-expanded="{% if group == active_group %}true{% else %}false{% endif %}"
        aria-controls="group-{{ group_slug }}"
        type="button"
      >
        <strong>{{ group }}</strong>
        <span class="caret"></span>
      </button>

      <ul
        class="collapse list-unstyled ms-1 {% if group == active_group %}show{% endif %}"
        id="group-{{ group_slug }}"
      >
        {% for link in links %}
        <li class="link-list {{ link.td_classes_str }}">{{ link.display_value }}</li>
        {% endfor %}
      </ul>
    </li>
    {% endwith %}
    {% endfor %}
  </ul>
</div>
