name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12.0]

    services:
      mariadb:
        image: mariadb:10.9
        env:
          MYSQL_ROOT_PASSWORD: ci_pipe_pssw
          MYSQL_DATABASE: montrek_ci_pipe_db
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - name: Install Perl
      run: sudo apt-get update && sudo apt-get install -y perl
    - name: Install Tex Live
      run: |
        wget http://mirror.ctan.org/systems/texlive/tlnet/install-tl-unx.tar.gz
        tar -xzf install-tl-unx.tar.gz
        cd $(ls -d install-tl-*/ | head -n 1)
        echo "selected_scheme scheme-minimal" > profile
        echo "TEXMFCONFIG \$SELFAUTOPARENT/texmf-config" >> profile
        echo "TEXMFHOME \$SELFAUTOPARENT/texmf-home" >> profile
        echo "TEXMFLOCAL \$SELFAUTOPARENT/texmf-local" >> profile
        echo "TEXMFSYSCONFIG \$SELFAUTOPARENT/texmf-config" >> profile
        echo "TEXMFSYSVAR \$SELFAUTOPARENT/texmf-var" >> profile
        echo "TEXMFVAR \$SELFAUTOPARENT/texmf-var" >> profile
        echo "binary_x86_64-linux 1" >> profile
        echo "collection-basic 1" >> profile
        echo "collection-latex 1" >> profile
        echo "collection-fontsrecommended 1" >> profile
        echo "collection-xetex 1" >> profile
        sudo ./install-tl --profile=profile --repository http://mirror.ctan.org/systems/texlive/tlnet
        echo "PATH=/usr/local/texlive/2024/bin/x86_64-linux:$PATH" >> $GITHUB_ENV
    - name: Generate xelatex format files
      run: fmtutil-sys --byfmt xelatex
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Setup env
      run: |
        echo "DB_USER=root" >> .env
        echo "DB_PASSWORD=ci_pipe_pssw" >> .env
        echo "DB_NAME=montrek_ci_pipe_db" >> .env
        echo "DB_HOST=0.0.0.0" >> .env

    - name: Run Tests and Coverage
      env:
        PATH: /usr/local/texlive/2024/bin/x86_64-linux:$PATH
      run: |
        cd montrek
        python manage.py test --exclude-tag=functional

        # coverage run manage.py test --exclude-tag=functional
        # coverage report
        # coverage html -d coverage_html

    - name: Upload coverage HTML report
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: montrek/coverage_html
