name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Setup env
      run: |
        echo "DB_USER=root" >> .env
        echo "DB_PASSWORD=ci_pipe_pssw" >> .env
        echo "DB_NAME=montrek_ci_pipe_db" >> .env
        echo "DB_HOST=db" >> .env
        echo "DB_PORT=3306" >> .env
        echo "DEPLOY_PORT=1339" >> .env
        echo "FLOWER_PORT=5555" >> .env
        echo "APP_PORT=8000" >> .env
    - name: Run Tests
      run: |
        docker-compose run --rm web sh -c "python manage.py test --exclude-tag=functional"
