name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "00 9 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.12.0]

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ci_pipe_pssw
          POSTGRES_DB: montrek_ci_pipe_db
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3

    steps:
      - uses: actions/checkout@v3
      - name: Install Tex Live
        run: |
          sudo apt-get update
          sudo apt-get install texlive-xetex texlive-fonts-recommended
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: ./bin/sync-local-python-env.sh
      - name: Setup env
        run: |
          echo "DB_ENGINE=postgres" >> .env
          echo "DB_PORT=5432" >> .env
          echo "DB_USER=postgres" >> .env
          echo "DB_PASSWORD=ci_pipe_pssw" >> .env
          echo "DB_NAME=montrek_ci_pipe_db" >> .env
          echo "DB_HOST=0.0.0.0" >> .env

      - name: Install Arial font
        run: |
          sudo apt-get update
          echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections
          sudo apt-get install -y ttf-mscorefonts-installer
          sudo fc-cache -f -v

      - name: Verify Arial font installation
        run: |
          fc-list | grep -i arial
      - name: Run Tests
        run: |
          cd montrek
          python manage.py test --exclude-tag=functional --parallel
