name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: vimsnt/montrek_app:latest
      credentials:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    services:
      mariadb:
        image: mariadb:10.9
        env:
          MYSQL_ROOT_PASSWORD: ci_pipe_pssw
          MYSQL_DATABASE: montrek_ci_pipe_db
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - name: Setup env
      run: |
        echo "DB_USER=root" >> .env
        echo "DB_PASSWORD=ci_pipe_pssw" >> .env
        echo "DB_NAME=montrek_ci_pipe_db" >> .env
        echo "DB_HOST=0.0.0.0" >> .env
    - name: Print current directory and list files
      run: |
        echo "Current directory:"
        pwd
        echo "Files in current directory:"
        ls -la
    - name: Run Tests
      working-directory: .
      run: |
        python manage.py test --exclude-tag=functional
