name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: vimsnt/montrek_ci:latest
      credentials:
        user: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    services:
      mariadb:
        image: mariadb:10.9
        env:
          MYSQL_ROOT_PASSWORD: ci_pipe_pssw
          MYSQL_DATABASE: montrek_ci_pipe_db
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Setup env
      run: |
        echo "DB_USER=root" >> .env
        echo "DB_PASSWORD=ci_pipe_pssw" >> .env
        echo "DB_NAME=montrek_ci_pipe_db" >> .env
        echo "DB_HOST=0.0.0.0" >> .env
    - name: Run Tests
      run: |
        cd montrek
        python manage.py test --exclude-tag=functional
