name: Django CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "00 23 * * 0"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest # or any available runner
    container:
      image: ghcr.io/montrek-software/montrek-container:latest
      options: --user 0:0 # run job steps as root in CI
    strategy:
      max-parallel: 4

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ci_pipe_pssw
          POSTGRES_DB: montrek_ci_pipe_db
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 3

    steps:
      - uses: actions/checkout@v3
      - name: Install Python Dependencies
        run: make sync-local-python-env
      - name: Setup env
        run: |
          echo "DB_ENGINE=postgres" >> .env
          echo "DB_PORT=5432" >> .env
          echo "DB_USER=postgres" >> .env
          echo "DB_PASSWORD=ci_pipe_pssw" >> .env
          echo "DB_NAME=montrek_ci_pipe_db" >> .env
          echo "DB_HOST=postgres" >> .env
          echo "SECRET_KEY=testkey" >> .env
      - name: Run Tests
        run: |
          . .venv/bin/activate
          cd montrek
          python manage.py test --exclude-tag=functional --parallel
