name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    services:
  db:
    image: postgres:16.2
    env:
      POSTGRES_USER: postgres  # Default user, unless you specify otherwise
      POSTGRES_PASSWORD: ci_pipe_pssw
      POSTGRES_DB: montrek_ci_pipe_db
    ports:
      - 5432:5432
    options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Setup env
      run: |
        echo "DB_USER=root" >> .env
        echo "DB_PASSWORD=ci_pipe_pssw" >> .env
        echo "DB_NAME=montrek_ci_pipe_db" >> .env
        echo "DB_HOST=0.0.0.0" >> .env
        echo "INSTALLED_APPS= company" >> .env
    - name: Run migrations
      run: |
        cd montrek
        echo $DB_NAME
        python manage.py makemigrations

    - name: Run Tests and Coverage
      run: |
        cd montrek
        coverage run manage.py test --exclude-tag=functional
        coverage report
        coverage html -d coverage_html

    - name: Upload coverage HTML report
      uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: montrek/coverage_html
