name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8, 3.9]

    services:
      mariadb:
        image: mariadb:latest
        env:
          MYSQL_ROOT_PASSWORD: X5e%85~-Xs
          MYSQL_DATABASE: montrek_db
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run migrations
      run: |
        cd montrek
        python manage.py migrate
      env:
        DBENGINE: django.db.backends.mysql
        DBNAME: montrek_db
        DBUSER: root
        DBPASSWORD: X5e%85~-Xs
        DBHOST: 127.0.0.1
        DBPORT: $
    - name: Run Tests
      run: |
        cd montrek
        python manage.py test
      env:
        DBENGINE: django.db.backends.mysql
        DBNAME: montrek_db
        DBUSER: root
        DBPASSWORD: X5e%85~-Xs
        DBHOST: 127.0.0.1
        DBPORT: $
